{% extends 'master/base.html' %}

{% block content %}
<h1>Product List</h1> 
<a href="" class="btn btn-success">Add Product</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>SL</th>
            <th>Name</th>
            <th>Price</th>
            <th>Qty</th>
            <th>Total Amount</th>
            <th>Action</th>
        </tr>
    </thead>

       <tbody>
        
        {% for product in product_data %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td>{{product.qty}}</td>
            <td>{{product.total_amount}}</td>
            <td>
                
            </td>
        </tr>
            
        {% endfor %}
            
    </tbody>
</table>

{% endblock content %}